# Python
*.pyc
*~
__pycache__

# Env 
.env
myvenv/
venv/

# Database
db.sqlite3

#Static folder at project root
/static/

# macOS
.-*
.DS_Store
.fsevensd
.Spotlight-V100

#Windows
Thumbs.db*
ehthumbs*.db
[Dd]wsktop.ini
$RECYCLE.BIN/

#Visual Studio
.vscode/
.history/
*.code-workspace